.toc-002 {
    margin-bottom: 30px;
    border: 2px solid #2589d0;
    border-radius: 3px;
}

.toc-002 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
}

.toc-002 div::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M3.8%2017.2h-3c-.5%200-.8.4-.8.8v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8v-3c-.1-.4-.4-.8-.8-.8zm0-15h-3c-.5%200-.8.4-.8.8v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8V3c-.1-.4-.4-.8-.8-.8zm0%207.6h-3c-.5%200-.8.3-.8.7v3c0%20.4.3.8.8.8h3c.4%200%20.8-.3.8-.8v-3c-.1-.4-.4-.7-.8-.7zM23.2%2018h-15c-.4%200-.8.3-.8.8v1.5c0%20.4.3.8.8.8h15c.4%200%20.8-.3.8-.8v-1.5c0-.5-.3-.8-.8-.8zm0-15h-15c-.4%200-.7.3-.7.8v1.5c0%20.4.3.7.7.7h15c.5%200%20.8-.3.8-.8V3.8c0-.5-.3-.8-.8-.8zm0%207.5h-15c-.4%200-.8.3-.8.8v1.5c0%20.4.3.8.8.8h15c.4%200%20.8-.3.8-.8v-1.5c0-.5-.3-.8-.8-.8z%22%2F%3E%3C%2Fsvg%3E');
    content: '';
}

.toc-002 label::after {
    margin-left: 7px;
    font-weight: 500;
    font-size: .7em;
    color: #fff;
    content: "[開く]";
    cursor: pointer;
}

.toc-002:has(:checked) label::after {
    content: "[閉じる]";
}

.toc-002 input {
    display: none;
}

.toc-002 ol {
    list-style-type: disc;
    margin: 0;
    overflow: hidden;
}

.toc-002 > ol {
    height: 0;
}

.toc-002:has(:checked) > ol {
    height: auto;
    padding: 1em 1em 1em 3em;
}

.toc-002 ol ol {
    margin-top: 5px;
    padding-left: 1.1em;
}

.toc-002 li {
    padding: 5px 0;
    font-weight: 600;
}

.toc-002 ol ol li {
    font-weight: 500;
    font-size: .9em;
}

.toc-002 a {
    color: #333;
    text-decoration: none;
}
.heading-023 {
    padding: .5em .7em;
    border-left: 5px solid #2589d0;
    border-bottom: 3px solid #d2d2d2;
    background-color: #f2f2f2;
    color: #333333;
}
.list-009 {
    list-style-type: disc;
    list-style-position: inside;
    padding: 1em;
    border: 2px solid #2589d0;
}

.list-009 li {
    padding: .5em;
}

.list-009 li:not(:last-child) {
    border-bottom: 1px dashed #2589d0;
}

.list-009 li::marker {
    color: #2589d0;
    font-size: 1.1em;
}
.heading-030 {
    display: flex;
    align-items: center;
    gap: 0 7px;
    color: #333333;
}

.heading-030::before {
    width: 29px;
    height: 29px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%232589d0%22%20d%3D%22M12%2C1.5c-6.6%2C0-12%2C4.4-12%2C9.8c0%2C2.3%2C1%2C4.5%2C2.7%2C6.1c-0.6%2C2.4-2.5%2C4.5-2.6%2C4.5C0%2C22%2C0%2C22.1%2C0%2C22.3s0.2%2C0.2%2C0.4%2C0.2%20c3.1%2C0%2C5.4-1.5%2C6.6-2.4c1.5%2C0.6%2C3.2%2C0.9%2C5%2C0.9c6.6%2C0%2C12-4.4%2C12-9.8S18.6%2C1.5%2C12%2C1.5z%22%2F%3E%3C%2Fsvg%3E');
    content: '';
}
.box-005 {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #f06060;
    border-radius: 5px;
    color: #333333;
}

.box-005 div {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: -13px;
    left: 10px;
    margin: 0 7px;
    padding: 0 8px;
    background: #fff;
    color: #f06060;
    font-weight: 600;
    vertical-align: top;
}

.box-005 svg {
    padding-right: 4px;
}

.box-005 p {
    margin: 0;
    padding: 0 1.5em 1em;
}
p {
    font-weight: bold;
  }
  .heading-004 {
    padding:0 .4em .2em;
    border-bottom: 3px dashed #2589d0;
    background-color: #ffffff;
    color: #333333;
}
